*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Quicksand', sans-serif; ;
 }
 nav {
    background: linear-gradient(50deg, rgb(205, 220, 45), rgb(2, 2, 17));
 }
 
 .imagem-navbar{
    height: 40px;
 }
 .menu {
    color: rgb(137, 235, 1);

}
.botao-hamburgue{
    color: rgb(137, 235, 1);
}
nav a:hover {
   transform: translateY(-5px) ;
   color: rgb(222, 233, 20);
}
.menu:hover {
    transform: translateY(-5px) ;
    color: rgb(222, 233, 20);
}